* { 
    margin: 0;
    padding: 0;
    border: 0;
}

body,
.container {
    background-color: rgb(201, 201, 201);
    max-width: 100vw;
    max-height: 100vh;
    
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    grid-template-rows: 140px repeat(3, 1fr);
}

/* side bar */ 

.sidebar {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-row: span 2;
    background-color: rgb(43, 138, 228);
    padding-left: 3rem;
    padding-right: 7rem;
    padding-bottom: 30rem;
    color: white;
    font-weight: 700;
}

.navigationOne {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 1;
    font-size: 35px;
    padding-top: 1rem;
}

.navigationTwo {
    display: grid;
    font-size: 30px;
    gap: 15px;
    padding-top: 3rem;
}

.navigationThree {
    display: grid;
    font-size: 30px;
    gap: 15px;
    padding-top: 3rem;
}

.userNameOne,
.userNameTwo,
.greeting {
    font-weight: 600;
}

.userNameTwo {
    font-size: 20px;
}

.clover {
    height: 2rem;
    width: 2rem;
}

/*end of sidebar*/

/* header */

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px / 1 fr));
    grid-template-rows: repeat(2, 60px);
    grid-column: 2 / span 4;
    grid-row: 1;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 6;
    gap: 1rem;
}

.topBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 5;
    grid-row: 1;
    justify-content:space-between;
    align-items: center;
    padding-top: 1rem;
}

.bottomBox {
    display: grid;
    grid-template-columns: 2rem 3fr 5rem 5rem 5rem;
    grid-column: 1 / 5;
    grid-template-rows: repeat(2, 30px);
    grid-row: 2;
    align-items: center;
    gap: 40px;
}

#search {
    width: 30rem;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 5px;
    z-index: 3;
}

.magnify {
    width: 1.5rem;
    height: 1.5rem;
}

.logo {
    height: 2.5rem;
    width: 2.5rem;
    background-color: orange;
    border-radius: 30px;
}

.logoTwo {
    width: 3.5rem;
    height: 3.5rem;
    background-color: orange;
    border-radius: 35px;
}

.new,
.upload,
.share {
    display: grid;
    background-color: rgb(43, 138, 228);
    color: white;
    justify-content: space-evenly;
    border-radius: 35px;
    width: 2rem;
    height: 2rem;
    padding: 1px 30px;
    align-content: center;
    font-weight: 700;
    text-align: center;
}


/* main-content */

.main-content {
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 10px 200px 150px;
    grid-column: 2 / 5;
    grid-row: 2;
    z-index: 2;
    justify-items: center;
    align-self:auto;
    gap: 1rem;
}


/* end of main-content */

/*containerOne */

.containerOne {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px / 1 fr));
    grid-column: 1 / span 4;
    grid-row: 1 / span 5;
    gap: 30px;
    z-index: 1;
    padding-left: 2rem;
}

#boxes {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: 300px;
    width: 25rem;
    height: 15rem;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(255, 153, 0);
    border-radius: 10px;
    padding: 30px 45px;
    text-align: start;
}

.boxOne > ul,
.boxTwo > ul,
.boxThree > ul,
.boxFour > ul,
.boxFive > ul,
.boxSix > ul {
    font-size: 23px;
    font-weight: 600;
}

.yourProject > li {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.yourProject {
    display: grid;
    position: relative;
    z-index: 2;
    grid-row: 1;
    grid-column: span 2;
    padding-top: 5rem;
}

/* end of containerOne */


/* containerTwo */

.containerTwo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3, 1fr);
    grid-column: span 5;
    grid-row: 1 / 2;
    padding-right: 3rem;
    padding-left: 2rem;
    z-index: 1;
}

#round {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: span 1;
    grid-column: span 4;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 15rem;
    height: 5rem;
}

.boxSeven {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 5.5rem;
}

.boxNine {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.boxSeven > ul,
.boxEight > ul,
.boxNine > ul {
    font-size: 18px;
    font-weight: 600;
}

.announcements > li {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.announcements {
    display: grid;
    position: relative;
    z-index: 2;
    grid-column: span 2;
    padding-top: 5rem;
}

/* end of containerTwo */


/* containerThree */

.containerThree {   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(4, 1fr);
    grid-column: span 5;
    grid-row: 4 / 5;
    padding-right: 3rem;
    padding-left: 2rem;
    padding-top: 8rem;
    z-index: 3;
}

#square {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row: span 4;
    grid-column: span 4;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 15rem;
    height: 6.5rem;
}

.personOne {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.personFour {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.boxOne > li,
.boxTwo > li,
.boxThree > li,
.boxFour > li,
.boxFive > li,
.boxSix > li,
.boxSeven > li,
.boxEight > li,
.boxNine > li,
.personOne > li,
.personTwo > li,
.personThree > li,
.personFour > li {
    color: #696969;
}


.trending > li {
    font-size: 25px;
    font-weight: bold;
}

/* end of containerThree */

