* { 
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

html, body { 
    height: 100%; 
    width: auto;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.sidebar {
    display: grid;
    grid-row: 1 / 4;
    background-color: rgb(43, 138, 228);
    padding-left: 3rem;
    padding-right: 7rem;
    padding-bottom: 30rem;
    color: white;
    font-weight: 700;
}

.navigationOne {
    display: grid;
    font-size: 35px;
    padding-top: 2rem;
}

.navigationTwo {
    display: grid;
    font-size: 30px;
    gap: 15px;
    padding-top: 3rem;
}

.navigationThree {
    display: grid;
    font-size: 30px;
    gap: 15px;
    padding-top: 3rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px / 1 fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2 / 7;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
}

.topBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    justify-content:space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bottomBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 / 6;
    align-items: center;
    padding-bottom: .1rem;
}

#search {
    width: 20rem;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 5px;
    z-index: 2;
}


.main-content {
    display: grid;
    grid-template-columns: 2fr / 1fr;
    grid-template-rows: repeat(1, .5rem) repeat(2, 1fr);
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    background-color: rgb(209, 209, 209);

}

.containerOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr / 1fr / 1fr;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.containerTwo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 2rem;
}

.containerThree {   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 2rem;
}

#boxes {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2fr;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(255, 153, 0);
    border-radius: 10px;
    padding: 30px 20px;
    z-index: 1;
}

.boxOne > ul {
    font-size: 23px;
    font-weight: 600;
}

.boxTwo > ul {
    font-size: 23px;
    font-weight: 600;
}

.boxThree > ul {
    font-size: 23px;
    font-weight: 600;
}

.boxFour > ul {
    font-size: 23px;
    font-weight: 600;
}

.boxFive > ul {
    font-size: 23px;
    font-weight: 600;
}

.boxSix > ul {
    font-size: 23px;
    font-weight: 600;
}

#round {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr / 1fr / 1fr / 1fr / 1fr / 1fr / 1fr;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}


#square {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.yourProject > li {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.yourProject {
    display: grid;
    position: relative;
    z-index: 2;
    grid-column: span 2;
}

.announcements > li {
    font-size: 25px;
    font-weight: bold;
}

.trending > li {
    font-size: 25px;
    font-weight: bold;
}

