* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body,
.container {
    max-width: 100vw;
    max-height: 20vh;
    background-color: #0891b2;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 420px repeat(2, 1fr);
    grid-template-rows: 200px repeat(2, 1fr) 400px;
}

/* side bar */ 

.sidebar {
    display: grid;
    grid-template-rows: 6rem repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
    grid-row: 1 / span 5;
    grid-column: span 1;
    background-color: #155e75;
    padding-left: 3rem;
    padding-right: 7rem;
    padding-bottom: 30rem;
    color: #fefce8;
    font-weight: 700;
    gap: 50px;
}

.navigationOne {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: auto 1fr 1fr;
    font-size: 35px;
    padding-bottom: 7rem;
    padding-top: 1.5rem;
    align-items: center;
}

.navigationTwo {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(5, 45px);
    grid-column: 1;
    grid-row: 2;
    font-size: 30px;
    gap: 35px;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities {
    display: grid;
    grid-column: 2;
}


.navigationThree {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 45px 45px 45px;
    grid-column: 1;
    grid-row: 3;
    font-size: 30px;
    padding-top: 3rem;
    gap: 35px;
}

.settings,
.support,
.privacy {
    display: grid;
    grid-column: 2;
}

.dirOne {
    color: white;
}

.directionOne {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row: 1 / 6;
    gap: 41px;
    height: 2rem;
    width: 2rem;
    grid-column: 1;
    color: white;
    padding-left: 20px;
}
.directionTwo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / span 3;
    gap: 42px;
    height: 2rem;
    width: 2rem;
    grid-column: 1;
    padding-left: 20px;
}

.clover {
    height: 4rem;
    width: 4rem;
}

h4:hover,
.home:hover,
.profile:hover,
.messages:hover,
.history:hover,
.tasks:hover,
.communities:hover,
.settings:hover,
.support:hover,
.privacy:hover {
    color: rgb(116, 255, 243);
    transform: scale(0.9); 
}


/*end of sidebar*/

/* header */

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 60px);
    grid-column: span 2;
    grid-row: 1 / 2;
    background-color: #cffafe;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    z-index: 6;
    gap: 1rem;
}

.topBox {
    display: grid;
    grid-template-columns: 1rem 5fr repeat(3, 5rem);
    grid-row: 1;
    grid-column: 1 / span 5;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-right: 3rem;
    z-index: 6;
}

.bottomBox {
    display: grid;
    grid-template-rows: repeat(2, 30px);
    grid-template-columns: 2rem 3fr 5rem 5rem 5rem;
    grid-column: 1 / span 5;
    grid-row: 2;
    align-items: center;
    gap: 40px;
    padding-top: 2rem;
    padding-right: 1.5rem;
    z-index: 6;
}

#search {
    width: 45rem;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 5px;
    z-index: 3;
    background-color:#ccfbf1;
    border-color: #46c2a7;
}

.magnify {
    width: 2rem;
    height: 2rem;
}

.magnify:hover {
    transform: scale(1.5); 
}

.alarm {
    width: 2rem;
    font-weight: 700;
    margin-left: 5rem;
}

.alarm:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.userNameOne {
    width: 200px;
    font-size: 1.3rem;
    font-weight: 700;
}

.logo {
    height: 3rem;
    width: 3rem;
    background-color: #14b8a6;;
    border-radius: 30px;
    margin-left: 2rem;
}

.logoTwo {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #14b8a6;;
    border-radius: 35px;
}

.userNameOne,
.userNameTwo,
.greeting {
    font-weight: 600;
}

.userNameTwo {
    font-size: 20px;
}

.new,
.upload,
.share {
    display: grid;
    background-color: rgb(43, 138, 228);
    color: white;
    justify-content: space-evenly;
    border-radius: 35px;
    width: 2rem;
    height: 2rem;
    padding: 1px 30px;
    align-content: center;
    font-weight: 700;
    text-align: center;
}


.new:hover,
.upload:hover,
.share:hover {
    color: rgb(43, 74, 141);
    transform: scale(0.9); 
}


/* end of header 


 main-content */

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10px repeat(3, 90px) 1rem repeat(4, 80px);
    grid-column: 2 / 5;
    grid-row: 2;
    z-index: 2;
    justify-items: center;
    gap: 1rem;
}


/* end of main-content */

/*containerOne */

.containerOne {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px / 300px));
    grid-template-rows: 120px 300px 300px;
    grid-column: 1 / 2;
    grid-row: 2;
    gap: 15px;
    z-index: 1;
    padding-left: 2rem;
}

#boxes {
    display: grid;
    grid-template-rows: 30px repeat(3, 50px);
    grid-template-columns: 300px;
    width: 25rem;
    height: 13rem;
    font-size: 20px;
    background-color: #ccfbf1;
    color: #155e75;
    border-left: 10px solid #14b8a6;
    border-radius: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 10px;
    text-align: start;
    z-index: 1;
}

.icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 8rem;
    height: 8rem;
    gap: 20px;
    padding-left: 16rem;
    padding-top: 6rem;
}

.boxOne > ul,
.boxTwo > ul,
.boxThree > ul,
.boxFour > ul,
.boxFive > ul,
.boxSix > ul {
    font-size: 23px;
    font-weight: 600;
}

.yourProject > li {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #082f49;
}

.yourProject {
    display: grid;
    position: relative;
    z-index: 2;
    grid-row: 1;
    grid-column: span 2;
    padding-top: 5rem;
}

.iconOne:hover,
.iconTwo:hover,
.iconThree:hover {
    transform: scale(1.2); 
}

/* end of containerOne */


/* containerTwo */

.containerTwo {
    display: grid;
    grid-template-rows: 8.5rem repeat(3, 80px);
    grid-template-columns: auto;
    grid-column: 2;
    grid-row: 2 / 6;  
}

.boxSeven,
.boxEight,
.boxNine {
    color: #155e75;
    gap: 20px;
    background-color: #ccfbf1;
    height: 1px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 100px;
}

.boxSeven {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 100px;
}

.boxEight {
    padding-bottom: 100px;
}

.boxNine {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 120px;
}

.boxSeven::after,
.boxEight::after {
    display: block;
    content: "";
    background: rgb(54, 189, 189);
    width: 250px;
    height: 1px;
    position: absolute;
    margin-top: 10px;

}

.boxSeven > ul,
.boxEight > ul,
.boxNine > ul {
    font-size: 18px;
    font-weight: 600;
}

.announcements > li {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #082f49;
}

.announcements {
    display: grid;
    position: relative;
    z-index: 2;
    grid-row: 1;
    grid-column: span 2;
    padding-top: 5rem;
}

/* end of containerTwo */


/* containerThree */

.containerThree {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.5rem repeat(4, 90px);
    grid-column: 2;
    grid-row: 8;
    padding-top: 3.5rem;
}

.personOne,
.personTwo,
.personThree,
.personFour {   
    display: grid;
    grid-template-columns: 50px 100px;
    grid-auto-rows: minmax(20px, 50px);
    color: #155e75;
    gap: 20px;
    background-color: #ccfbf1;
    height: 1px;
    width: 200px;
    padding-top: 45px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 100px;
}


.groupTwo {
    width: 200px;
}

.personOne {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.personFour {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.boxOne > li,
.boxTwo > li,
.boxThree > li,
.boxFour > li,
.boxFive > li,
.boxSix > li,
.boxSeven > li,
.boxEight > li,
.boxNine > li,
.groupTwo > li {
    color: #0e7490;
}


.trending > li {
    font-size: 25px;
    font-weight: bold;
    color: #082f49;
}

.trending {
    display: grid;
    grid-row: 1;
    z-index: 3;
    position: relative;
    padding-bottom: 5px;
}

/* end of containerThree */

